.card {
    height: 225px;
    overflow: hidden;
}
.dogImg {
    height: auto;
    width: 102%;
    min-width: 450px !important;
    margin: 0px -50px;
}

.dogCard {
    position: relative;
    overflow: hidden;
}

